<div class="container-fluid", id="registration">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Log in</h2>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :login %><br />
          <%= f.text_field :login, class: "form-control", autofocus: true,
                                  placeholder: "Email or username"%>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off",
                                placeholder: "Password"%>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
</br>

        <div class="panel-footer">
          <%= render "devise/shared/links" %>

        </div>
      <% end %>


    </div>
  </div>
</div>
