<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Quicksand:400,700|Abril+Fatface|Josefin+Slab:400,600,400italic,600italic,700,700italic,300|Nunito:300,400,500|Handlee|Arimo:400,400italic,700,700italic|Droid+Sans|Lato:300,400,700,900|Hind+Siliguri:300,400,500,600|Raleway:100,200,300,400,500,600|Open+Sans:300,400,600|' rel='stylesheet' type='text/css'>
  <title>Simplfit</title>
  <script src="http://moi007.dyndns.org/igestis/theme/iabsis_v2//js/bootstrap.js?2.0-4"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  $(function () {
    $("#myModal").modal({show:false});
  });
  </script>
</head>
<body>
<div>
  <%= render "layouts/messages" %>
  <%= yield %>
  <div class="navbar fixed-bottom footer">

      <p>
        Copyright SimplFit 2016
      </p>
    
  </div>
</div>
</body>
</html>
